@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
}
/*element for all section*/
section
{
    min-height: 100vh;
}
h1
{
    font-size: 60px;
    text-transform: capitalize;
}
p
{
    font-size: 18px;
}
a
{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-image: linear-gradient(to right bottom, rgb(214, 26, 73), rgba(228, 105, 111, 0.849));
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

/*section start*/

#header-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.856)), url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
.header-text
{
    color: #fff;
    font-weight: 900;
    text-align: center  ;
    margin-bottom: 25px;
}
.header-para
{
    color: #fff;
    width: 1000px;
    text-align: center;
    line-height: 30px;
}

/** donate section**/
#donate-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fdfbfb;
}
.donate-section .donate-heading
{
    font-weight: 900;
    margin-bottom: 20px;
}
#donate-section .donate-para
{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(87, 87, 87);
}
#donate-section .money-amount-box
{
    width: 840px;
    margin: 50px 0 100px 0;
}
#donate-section .money-amount-box span
{
    padding: 45px 30px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(141, 141, 141);
    border-radius: 10px;
}
#donate-section .money-amount-box span:nth-child(2)
{
    border: 3px solid rgb(255, 0, 51);
    background-color: rgba(255, 0, 51, 0.048);
    color: rgb(255, 0, 51);
}
#donate-section form
{
    width: 800px;
    height: 50px;
    border-bottom: 2px solid gray;
}
#donate-section form input
{
    width: 100%;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 25px;
    color: rgb(121, 121, 121);
    outline: none;
    height: 100%;
}
/*plan section*/
#donate-plan
{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#donate-plan .plan-header
{
    font-size: 50px;
    font-weight: 900;
}
#donate-plan .plan-para
{
    width: 800px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}
#donate-plan .plan-box
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
}
#donate-plan .plan-box .box
{
    width: 30%;
    height: 400px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(121, 121, 121, 0.336);
}
#donate-plan .plan-box .box:nth-child(2)
{
    background-color: rgb(255, 199, 245);
}
#donate-plan .plan-box .box:nth-child(3)
{
    background-color: rgb(255, 218, 212);
}
#donate-plan .plan-box .box img
{
    margin-top: 40px;
    width: 60px;
    height: 60px;
}
#donate-plan .plan-box .box .box-header
{
    margin: 20px 0;
    font-size: 1.5em;
}
/**volunteer section**/
#volunteer-section
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}
#volunteer-section .volunteer-div
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#volunteer-section .volunteer-div img
{
    width: 650px;
    height: auto;
}
#volunteer-section .volunteer-div .volunteer-header
{
    font-weight: 900;
    font-size: 50px;
    margin-top: 20px;
}
#volunteer-section .volunteer-div .volunteer-header span
{
    color: crimson;
}
#volunteer-section .volunteer-div .volunteer-sub-header
{
    font-size: 20px;
    margin-top: 10px;
}
#volunteer-section .volunteer-div .contact-us
{
    margin-top: 20px;
}
#volunteer-section .volunteer-div p
{
    margin-top: 10px;
}
#volunteer-section .volunteer-div p span
{
    color: crimson;
}
#volunteer-section .volunteer-div form
{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
}
#volunteer-section .volunteer-div form label
{
    text-transform: capitalize;
    font-weight: 600;
    color: #525252;
}
#volunteer-section .volunteer-div form input
{
    width: 300px;
    line-height: 30px;
}
#volunteer-section .volunteer-div .contact-btn
{
    text-transform: uppercase;
}
